[submodule "blackburn"]
	path = blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
[submodule "public"]
	path = public
	url = https://github.com/raidsrc/hugo-public.git
	branch = main
[submodule "themes/themes/etch"]
	path = themes/themes/etch
	url = https://github.com/LukasJoswiak/etch.git
